<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="viewport" content="width=1080">
<title>Omnious Poc Demo</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="public/css/reset.css" />
<link rel="stylesheet" type="text/css" href="public/css/font.css" />
<link rel="stylesheet" type="text/css" href="public/css/style.css" />

<script type="text/javascript" src="modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="public/js/common.js"></script>
<script type="text/javascript" src="public/js/colorMatching.js"></script>
<script type="text/javascript" src="public/js/brand.js"></script>
<script type="text/javascript" src="public/js/search.js"></script>
<script type="text/javascript" src="public/js/pagination/pagination.js"></script>
</head>

<body>
	<div id="header">
		<div class="common_width">
			<h1 class="h_title">
				<a href="#">Omnious Poc Demo</a>
			</h1>
		</div>
	</div>
	
	<div id="wrap">
